{% load static %}
{% include 'header.html' %}
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/vote2.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
            <h1 class="mb-0 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 d-flex align-items-stretch">
						<div class="img img-3 w-100 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/about-1.jpg' %}); position: relative;">

						</div>
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
						<div class="bg-light px-3 px-md-5 py-5 ">
		          <div class="heading-section">
		          	<span class="subheading">Welcome to Online Voting System</span>
		            <h2 class="mb-3">Why to Put Trust Your Trust In Online Voting System</h2>

		            <p>By voting, citizens are participating in the democratic process.</p>
		          </div>


					</div>
				</div>
				</div></div>
		</section>


{% include 'footer.html' %}