{% load static %}
{% include 'customer_header.html' %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/vote5.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
            <h1 class="mb-0 bread">Add Nomination</h1>
          </div>
        </div>
      </div>
    </section>
<br>
<br>
<form method ="POST" class="post-form" action="{% url 'add_nomination' id %}" enctype="multipart/form-data">
    {% csrf_token %}
		<div class="container h-100">
							<h1 class="fs-4 card-title fw-bold mb-4">Add Nomination Here</h1>
                                 <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="name">Name</label>
									<input id="name" type="text"  name="name"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="gender">Gender</label>
									<input id="gender" type="text"  name="gender"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="age">Age</label>
									<input id="age" type="number"  name="age"  required>
								</div>

			<div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="qualification">Qualification</label>
									<input id="qualification" type="text"  name="qualification"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="about">About</label>
									<input id="about" type="text"  name="about"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="image">Image</label>
									<input id="image" type="file"  name="image"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="idproof">Idproof</label>
									<input id="idproof" type="file"  name="idproof"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="address">Address</label>
									<input id="address" type="text"  name="address"  required>
								</div>

            <div class="mb-2 w-100">
									<label class="col-sm-2 col-form-label" for="mobile">Mobile</label>
									<input id="mobile" type="number"  name="mobile"  required>
								</div>

			<div class="mb-3">
									<label class="mb-2 text-muted" for="email">customer_email</label>
									<input id="email" type="text"  name="email" value="{{customer.email}}" required readonly>
								</div>

			<div class="mb-3">
									<label class="mb-2 text-muted" for="election">Election_Id</label>
									<input id="election" type="number"  name="election" value="{{election.id}}" required readonly>
								</div>



                                <button type="submit" class="btn btn-primary ms-auto">submit</button><br>

        </div>
</form>
{{msg}}
<br>

{% include 'footer.html' %}

