{% load static %}
{% include 'admin_header.html' %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/vote3.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
            <h1 class="mb-0 bread">View Nomination</h1>
          </div>
        </div>
      </div>
    </section>
<br>
<table align="center" border="2" cellpadding="10" cellspacing="0" width="80%">

  <thead>
     <tr>
         <th>Name</th>
         <th>Gender</th>
         <th>Age</th>
         <th>Qualification</th>
         <th>About</th>
         <th>Image</th>
         <th>Idproof</th>
         <th>Address</th>
         <th>Mobile</th>
         <th>Email</th>
         <th>ElectionId</th>
         <th>Status</th>



     </tr>
  </thead>
    <tbody>
        {% for nomination in nomination  %}
        <tr>
           <td>{{nomination.name}}</td>
           <td>{{nomination.gender}}</td>
            <td>{{nomination.age}}</td>
            <td>{{nomination.qualification}}</td>
           <td>{{nomination.about}}</td>
            <td>
                <img src="{{nomination.image.url}}" height="100px" width="100px" alt=""></td>
           <td><img src="{{nomination.idproof.url}}" height="100px" width="100px" alt=""></td>
           <td>{{nomination.address}}</td>
           <td>{{nomination.mobile}}</td>
           <td>{{nomination.email.email}}</td>
           <td>{{nomination.election.id}}</td>
            <td>{% if nomination.status == 'pending' %}
            <a href="{% url 'accept_nomination' id=nomination.id %}" class="btn btn-success">Accept</a><br><br>
            <a class ="btn btn-danger" href="{% url 'reject_nomination' id=nomination.id %}">Reject</a>
            {% elif nomination.status == 'Accepted' %}
            <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_moal">Accepted</button>
             {% elif nomination.status == 'Rejected' %}
            <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_moal">Rejected</button>
            {% endif %}
            </td>      <!--<td><a href="/view_options/{{survey.id}}">View_Options</a></td>
            <td><a href="/customer_view_results/{{survey.id}}">View_Results</a></td>-->




       </tr>
        {% endfor %}
    </tbody>
</table><br>
<br>
{% include 'footer.html' %}
