{% load static %}
{% include 'header.html' %}

<div class="hero-wrap" style="background-image: url({% static 'images/vote1.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center">
			<div class="col-md-6 ftco-animate d-flex align-items-end">
				<div class="text w-100">
					<h1 class="mb-4">FUTURE OF DEMOCRACY</h1>
					<p class="mb-4">We continue to educate people and reimagine the future of democracy by organizing yearly the Future of Democracy conference</p>
					<p><a href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">Contact us</a></p>
				</div>
			</div>

		</div>
	</div>
</div>
 <section class="ftco-intro">
	 <div class="container-fluid">
		 <div class="row no-gutters">
			 <div class="col-md-4 d-flex">
				 <div class="intro aside-stretch d-lg-flex w-100">
					 <div class="icon">
						 <span class="flaticon-lawyer"></span>
    					</div>
					 <div class="text">
						 <h2>Single/Multiple Choice Voting</h2>
						 <p>This type of elections is best for fast decisions (Yes/No/Abstain) and when your voters are almost equally informed about decisions that they need to make</p>
    					</div>
				 </div>
			 </div>
			 <div class="col-md-4 d-flex">
				 <div class="intro color-1 d-lg-flex w-100">
					 <div class="icon">
						 <span class="flaticon-auction"></span>
					 </div>
					 <div class="text">
						 <h2>Rank-Choice Voting</h2>
						 <p>Ranked-Choice voting is an electoral selection technique used to provide assurance and security for all voters by providing them with the option to rank candidates based upon personal preference</p>
					 </div>
				 </div>
			 </div>
			 <div class="col-md-4 d-flex">
				 <div class="intro color-3 d-lg-flex w-100">
					 <div class="icon">
						 <span class="flaticon-court"></span>
    					</div>
					 <div class="text">
						 <h2>Open Voting</h2>
						 <p>This type of election is best for electing the most trusted leaders. There are no candidates per se, like in other kinds of elections. All voters may vote for each other.</p>
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </section>




  

		




{% include 'footer.html' %}
